<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author.name }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{{ ASSET_PATH }}olplus/css/normalize.css"/>
    <link rel="stylesheet" href="{{ ASSET_PATH }}olplus/css/style.css?ver=0.01"/>
<!-- <link href='http://fonts.googleapis.com/css?family=Clicker+Script|Raleway|Happy+Monkey' rel='stylesheet'
          type='text/css'> -->
    <!--[if lt IE 9]>
    <script src="script/html5.js"></script><![endif]-->
</head>
<body>
<header>
    <p class="meta">
        <img src="{{ ASSET_PATH }}/olplus/img/logo.png" alt="logo"/>
    </p>

    <h1 class="current"><a href="{{ HOME_PATH }}">Yomuse's<strong>Blog</strong></a></h1>
    <nav>
        <div class="slideclick">
            <ul>
                <li class="active"><a href="{{ HOME_PATH }}">博客</a></li>
                <li><a href="#">存档</a></li>
                <li><a href="#">实验室</a></li>
                <li><a href="#">印象</a></li>
                <li><a href="#">关于</a></li>
            </ul>
            <div class="navcell"></div>
        </div>
    </nav>

    <div id="search-container">
        <div id="search-main">
            <form id="searchForm" class="search" action="https://google.com.hk/search" method="get" accept-charset="utf-8">
                <div class="input">
                    <input type="search" name="q" id="s" autocomplete="off" autocorrect="off" autocapitalize="off"
                           maxlength="20" placeholder="Search via Google"/>
                </div>
                <input type="hidden" name="q" value="site:yomuse.de">
            </form>
        </div>
    </div>
</header>

<section>
    <div class="meta">
        <ul class="avatar-effect">
            <li>
                <a href="#"><img src="{{ ASSET_PATH }}/olplus/img/avatar.png" alt="yomuse's avatar"/>
                </a>
            </li>
        </ul>
    </div>
</section>
<article>
    <h1><a href="{{ post.url }}">{{ page.title }}</a>&nbsp;<span class="date-content">{{ page.date | date_to_long_string }} {{ site.author.name }}</span></h1>

    <div class="content">
      {{ content }}
    </div>
      <div>
          <i class="icon-tag"></i> {% for tag in post.tags %}<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
       </div> 
       <!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_icons_1"></a>
    <a class="jiathis_button_icons_2"></a>
    <a class="jiathis_button_icons_3"></a>
    <a class="jiathis_button_icons_4"></a>
    <a href="http://www.jiathis.com/share?uid=1654475" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    <a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1654475" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!-- <div id="clicki_widget_6417" title=""></div> -->
<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:6,showType:1,lkrc:0,picSize:84,textHeight:45};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1654475"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
</article>
<section class="comment">
      {% include JB/comments %}
</section>
<footer>
    <p class="meta">
        <img src="{{ ASSET_PATH }}/olplus/img/logo.png" alt="Logo"/>
    </p>

    <p>&copy; 2013 悠木 &nbsp; Powered by &nbsp; <a href="https://github.com/mojombo/jekyll">jekyll</a> & Theme by &nbsp; <a href="https://github.com/yomuse/yomuse.github.com">OLplus+</a> <br/>

       Made on a MBP by &nbsp; <a href="http://yomuse.de">Yomuse</a>
    </p>
</footer>

<script src="{{ ASSET_PATH }}/olplus/script/jquery-2.0.3.min.js"></script>
<script src="{{ ASSET_PATH }}/olplus/script/test.js"></script>
<script type='text/javascript'>
(function() {
    var c = document.createElement('script'); 
    c.type = 'text/javascript';
    c.async = true;
    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/49882';
    var h = document.getElementsByTagName('script')[0];
    h.parentNode.insertBefore(c, h);
})();
</script>
</body>
</html>